

{% extends 'layout.html' %}

{% block title %}Analyse Clients{% endblock %}

{% block content %}
<!-- Ton contenu ici (KPI, Graphs) -->
 <div class="md:col-span-9 space-y-6 mr-4">
                <!-- KPIs -->
                <div class="grid grid-cols-1 sm:grid-cols-5 gap-4">
                    <div class="bg-white p-4 rounded-xl shadow text-center">
                        <p class="text-sm text-gray-500">Nombre total de clients</p>
                        <p class="text-xl font-bold text-blue-700">{{ kpi_nb_client }} </p>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow text-center">
                        <p class="text-sm text-gray-500">Top 1 client en CA</p>
                        <p class="text-lg font-bold text-green-600">{{ kpi_top1 }} avec {{top_ca}} F</p>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow text-center">
                        <p class="text-sm text-gray-500">Client avec le plus de livraisons</p>
                        <p class="text-xl font-bold text-purple-600">{{ client_name }} avec {{nb_livraisons}}</p>
                    </div>
                    <div class="bg-white p-4 rounded-xl shadow text-center">
                        <p class="text-sm text-gray-500">Taux moyen d'impayé par client</p>
                        <p class="text-xl font-bold text-purple-600">{{ taux_moyen_impaye }} %</p>
                    </div>
                    <!-- <div class="bg-white p-4 rounded-xl shadow text-center">
                        <p class="text-sm text-gray-500">Montant total restant à payer</p>
                        <p class="text-xl font-bold text-purple-600">{{ kpi_restant_total }} FCFA</p>
                    </div> -->
                </div>

                <!-- Graphiques -->
                <div class="space-y-8">
                    <div class="bg-white p-4 rounded-lg shadow">
                        {{ graph1|safe }}
                    </div>
                    <div class="bg-white p-4 rounded-lg shadow">
                        {{ graph2|safe }}
                    </div>
                    <div class="bg-white p-4 rounded-lg shadow">
                        {{ graph3|safe }}
                    </div>
                    
                </div>
                
            </div>
{% endblock %}
