<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil - AMT Transit</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="relative h-screen w-full">
        <!-- Image de fond -->
        <img src="{{ url_for('static', filename='assets/bg_amt_transit.jpg') }}" alt="Background Image"
             class="object-cover object-center w-full h-full" />
        <div class="absolute inset-0 "></div>

        <!-- Logo en haut à gauche -->
        <div class="absolute top-4 left-32">
            <img src="{{ url_for('static', filename='assets/amt__transit.png') }}" alt="Logo AMT Transit" class="w-48">
        </div>

        <!-- Texte et boutons centrés -->
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center">
            <h1 class="text-4xl text-white font-bold mb-6">Bienvenue sur l'outil analytique AMT Transit !</h1>
            <div class="flex flex-col md:flex-row gap-4">
                <a href="{{ url_for('dashboard') }}" class="bg-yellow-600 text-white px-6 py-3 rounded-lg hover:bg-amber-500 transition">
                    Accéder au Tableau de Bord
                </a>
                <a href="{{ url_for('prediction') }}" class="bg-amber-600 text-white px-6 py-3 rounded-lg hover:bg-amber-700 transition">
                    Aller à la page de Prédiction
                </a>
            </div>
        </div>
    </div>
</body>
</html>
