<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dashboard AMT Transit{% endblock %}</title>
    <script src="https://cdn.plotly.com/plotly-latest.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
<body class="bg-gray-100 text-gray-900 mb-2 ">
    <div x-data="{ main_tab: 'perf' }" class="max-w-8xl mx-auto px-4 py-6">

        <nav class="bg-white shadow-md p-4 flex items-center justify-between mb-4 rounded-lg overflow-hidden">
            <div class="flex items-center space-x-4">
                <img src="{{ url_for('static', filename='assets/image.png') }}" alt="Logo AMT Transit" class="size-16">
            </div>
            <div class="hidden md:flex md:space-x-4">
                <button @click="main_tab = 'perf'"
                        :class="main_tab === 'perf' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Performance
                </button>
                <button @click="main_tab = 'fin'"
                        :class="main_tab === 'fin' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Finances
                </button>
                <button @click="main_tab = 'clients'"
                        :class="main_tab === 'clients' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Analyse Clients
                </button>
                <button @click="main_tab = 'tournees'"
                        :class="main_tab === 'tournees' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Tournées
                </button>
                <button @click="main_tab = 'logistique'"
                        :class="main_tab === 'logistique' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Logistique & Stock
                </button>
                <button @click="main_tab = 'alertes'"
                        :class="main_tab === 'alertes' ? 'bg-yellow-500 text-white' : 'bg-slate-500 text-white'"
                        class="px-4 py-2 rounded-xl shadow-lg text-center transition-all duration-300 hover:bg-slate-600 hover:shadow-xl hover:scale-105">
                    Alertes & Diagnostic
                </button>
            </div>
        </nav>
        
        <!-- conteneur principal -->
        <div class="grid grid-cols-1 md:grid-cols-12  gap-6 mb-2">
        
                    <form method="POST" action="{{ url_for('tournees') }}" class="mb-6 flex flex-col md:flex-row gap-4 items-end">
    <div>
        <label for="date_debut" class="block mb-1 text-sm font-medium">Date de début :</label>
        <input type="date" id="date_debut" name="date_debut" class="p-2 border rounded" value="{{ request.form.date_debut or '' }}">
    </div>
    <div>
        <label for="date_fin" class="block mb-1 text-sm font-medium">Date de fin :</label>
        <input type="date" id="date_fin" name="date_fin" class="p-2 border rounded" value="{{ request.form.date_fin or '' }}">
    </div>
    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">Filtrer</button>
</form>

                    
                   </div>
                    <div class="md:col-span-9 h-full ">
                        {% block content %}{% endblock %}
                    </div>
                </div>


       
    </div>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
</body>
</html>