<script src="https://maps.googleapis.com/maps/api/js?key=TA_CLE_API_ICI"></script>
<div id="map" style="height: 500px; width: 100%;"></div>
<script>
  function initMap() {
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 10,
      center: { lat: 5.348, lng: -4.027 }  // exemple : Abidjan
    });

    const marker = new google.maps.Marker({
      position: { lat: 5.348, lng: -4.027 },
      map: map,
      title: "Livraison test"
    });
  }

  window.onload = initMap;
</script>